<div class="login-wrapper">
  <div class="login-card">
    <h1>Entrar</h1>
    <p>Acesse sua plataforma de APIs</p>

    <form [formGroup]="form" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password">
      </mat-form-field>

      <button mat-flat-button class="btn-login" type="submit">Acessar</button>

    </form>

    <a routerLink="/auth/register" class="link-register">Criar conta</a>
  </div>
</div>
