<div class="layout-container">

  <!-- SIDEBAR -->
  <aside class="sidebar" [class.open]="sidebarOpen">
    <div class="brand">
      <span class="logo-main">APIX<span>BR</span></span>
    </div>

    <nav class="menu">
      <a routerLink="/app/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a routerLink="./cnpj-consulta" routerLinkActive="active">
        <mat-icon>business</mat-icon>
        API CNPJ
      </a>
        <a routerLink="/app/apis" routerLinkActive="active">
        <mat-icon>api</mat-icon>
        APIs
      </a>
      <a routerLink="/app/billing" routerLinkActive="active">
        <mat-icon>payments</mat-icon>
        Billing
      </a>
      <a routerLink="/app/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Configurações
      </a>
    </nav>
  </aside>

  <!-- MAIN CONTENT -->
  <div class="content-area">
    <!-- TOPBAR -->
    <header class="topbar">
      <button class="toggle-btn" (click)="toggleSidebar()">☰</button>

      <div class="space"></div>

      <div class="user-section">
        <span class="username" *ngIf="authService.usuario$ | async as user">
          Olá, {{ user.name }}
        </span>
        <img src="https://avatars.githubusercontent.com/u/9919?v=4" class="avatar">
        <button class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </header>

    <!-- PAGE CONTENT -->
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>

    <!-- OVERLAY MOBILE -->
    <div class="overlay" [class.show]="sidebarOpen" (click)="closeSidebar()"></div>
  </div>
</div>
