<div class="login-wrapper">
  <div class="login-card animate">

    <div class="logo">
      <span class="logo-main">APIX<span>BR</span></span>
    </div>

    <h2>Autenticação</h2>

    @if(error) {
      <div class="error">{{ error }}</div>
    }

    <form (ngSubmit)="login()">

      <mat-form-field appearance="fill" class="full">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>

      <button
        mat-raised-button
        class="btn-login full"
        type="submit">
        Entrar
      </button>
    </form>

    <p class="register">
      Não tem conta?
      <a routerLink="/register">Criar agora</a>
    </p>

  </div>
</div>
