<div class="container">
    <h2>{{ editing ? 'Editar Client' : 'Novo Client' }}</h2>


    <form [formGroup]="form" (ngSubmit)="save()">


        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="form.controls['name'].hasError('required')">Nome é obrigatório</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <div class="actions">
            <button mat-flat-button color="primary" type="submit">Salvar</button>
            <button mat-button type="button" (click)="back()">Voltar</button>
        </div>


    </form>
</div>